<h1>Testcase for FileUpload Icon not clickable</h1>
<p>
    It is expected, that the icon in the "Choose" Button is clickable. It is
    observed though, that you can click on the text and the file chooser will
    open, but you can not click on the "plus" icon. The button looks as if it
    worked, but the file chooser does not open.
</p>
<p>
    The behaviour can  be observed in the major browsers:
</p>
<ul>
    <li>Firefox</li>
    <li>Chrome</li>
    <li>Edge</li>
    <li>Internet Explorer</li>
</ul>
<p>
    Analysis
</p>
<ul>
    <li>
        The file upload component relies on the native <code>&lt;input type="file"&gt;</code>
        element.
    </li>
    <li>
        This file element is configured via CSS to fill the whole "Choose" button.
        The icon realized with a span and the icon description too.
    </li>
    <li>
        The file element is configured as <code>position = absolute</code>.
    </li>
    <li>
        <strong>Problem</strong>: In theory this means, that the file element is placed above all other
        elements. The problem is, that the icon-span is also <code>position = absolute</code>
        and the icon is placed <strong>after</strong> the file input. So in the
        natural order it is place above the icon-span.
    </li>
    <li>
        <strong>Solution</strong>: The file upload button already spans its own
        stacking context (it is <code>position = relative</code>), so use a z-index
        to ensure the file input is above the other elements.
</ul>
<p-fileUpload
    mode="advanced"
    >
</p-fileUpload>